@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb; /* Matches your gray-50 background */
}

#root {
  width: 100%;
}